/* @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400&display=swap'); */

:root > * {
  --md-primary-fg-color: #FFCC00;
  --md-primary-fg-color--light: #ffeb9b;
  --md-primary-fg-color--dark: #957700;
}

/* Nav */
.md-tabs {
    background-color: #000;
    color: #fff;
    text-align: center;
}
.md-tabs__item span {
    font-size: medium;
    font-weight: 600;
}
.md-header {
    background-color: var(--md-primary-fg-color);
    color: #000;
}
.md-top {
    top: 70px!important;
}

/*Light Mode*/
[data-md-color-scheme=default]{
--md-default-fg-color--light: #0000008a;
--img-filter: none;
}

/*Night Mode*/
[data-md-color-scheme=slate]{
--md-default-fg-color--light: #d2d7f9;
--img-filter: brightness(0) invert(1);
}
.md-typeset h1{
    color: var(--md-default-fg-color--light);
}

td.needs_title {
    font-weight: bold;
}
.md-typeset pre, pre {
    overflow-x: auto;
}
div.wy-table-responsive{
    width: 100% !important;
}
.underline{
    text-decoration: underline;
}
figure[id^="needflow-"]  {
    overflow-x: auto;
}


/*Remove READTHEDOCS version badge*/
.injected {
    display: none !important;
}
div.need_container {
    overflow-x: auto;
}
table.need, .md-typeset table.data:not(.plain) {
    display: table !important;
    width: 100% !important;
}
table {
    border: 1px solid #e1e4e5 !important;
}
tbody tr td {
    font-size: medium !important;
}
img.needs_image, img.sn_collapse_img {
    filter: var(--img-filter);
}

/* Sphinx-Immaterial */

body,
input {
    font-size: 18px !important;
    font-weight: 400;
    line-height: 1.5 !important;
}

.md-typeset, .md-nav, .md-typeset table:not([class]),
 .md-typeset table.data:not(.plain){
    font-size: 16px !important;
    line-height: 1.5 !important;
}

.md-typeset :is(.admonition,details) {
    font-size: 14px;
}

h1, h2, h3 {
    font-weight: 500 !important;
    line-height: 1.4 !important;
}

h1:not([class="md-search-result__title"]) {
    font-size: 34px !important;
    margin-bottom: 20px !important;
}

h2 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
}

h3 {
    font-size: 24px !important;
    margin-bottom: 10px !important;
}

/* datatables */
.dataTables_filter input {
    border: 1px solid var(--md-typeset-color);
    margin-bottom: 10px;
    background-color: transparent;
}

.border {
    border: 1px solid var(--md-typeset-color);
}

table.dataTable tbody tr {
    background-color: transparent;
}
/*
table.dataTable tbody tr {
    background-color: transparent !important;
}
*/
.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: var(--md-typeset-color) !important;
}

.dataTables_wrapper .dataTables_paginate a.paginate_button, .dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    color: var(--md-typeset-color) !important;
}

div.dataTables_info {
    margin-top: 0 !important;
}

div.dt-button-info{
	bottom:0.8rem;
    left:1rem;
	top:initial;
    left:initial;
    width:initial;
    background-color:#e9ebfc;
    border: 1px solid var(--md-typeset-color);
    box-shadow:0 0.2rem 0.5rem rgba(0,0,0,.4),0 0 0.05rem rgba(0,0,0,.35);
    border-radius:0.1rem;
    text-align:left;
    color: #2e303e;
    min-width:11.1rem;
    padding: 0.4rem 0.6rem;
    pointer-events: none;
    margin:0;
}
div.dt-button-info h2{
    display:none;
}
div.dt-button-info>div{
    padding:2px;
    font-size: 18px!important;
    color: #2e303e;
}

table tbody tr:hover {
    background-color: rgb(147 147 147 / 10%) !important;
    box-shadow: 0 .05rem 0 var(--md-default-bg-color) inset !important;
}

button.dt-button:hover:not(.disabled), div.dt-button:hover:not(.disabled), a.dt-button:hover:not(.disabled) {
    color: #000;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    margin-left: 1% !important;
}

div.dt-buttons {
    margin-left: 1% !important;
}

.dataTables_wrapper .dataTables_filter input {
    max-width: 100px !important;
}
@media screen and (max-width: 640px){
    .dataTables_wrapper .dataTables_filter {
        float: none !important;
        text-align: center !important;
    }

    .dataTables_wrapper .dataTables_filter input {
        max-width: inherit !important;
    }
}

div.dt-button-collection button.dt-button.active:not(.disabled) {
    color: #000 !important;
    border: 1px solid #000 !important;
}

table.NEEDS_DATATABLES, table.NEEDS_TABLE{
    max-width: inherit;
    width: inherit;
}

.md-header__button.md-logo :is(img, png) {
    height: 2.2rem !important;
}

@media screen and (min-width: 76.1875em){
    .md-nav__current-toc {
       display: none!important;
    }
}
details.sd-dropdown .sd-summary-up, details.sd-dropdown .sd-summary-down {
    display: none;
}