$primary: config('primary', '#FA2323') !default;
$secondary: config('secondary', '#379683')  !default;
$cover: config('cover', '#ffffff')  !default;
$white: config('white', '#ffffff')  !default;
$links: config('links', '$primary')  !default;
