include AUTHORS.rst
include README.rst

include sphinx_simplepdf/themes/simplepdf_theme/theme.conf

recursive-include sphinx_simplepdf/themes/simplepdf_theme/static/styles *
recursive-include sphinx_simplepdf/themes/simplepdf_theme/ *.html
recursive-include sphinx_simplepdf/themes/simplepdf_theme/static/images *
recursive-include sphinx_simplepdf/themes/simplepdf_theme/static/fonts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
