include AUTHORS.rst
include README.rst

include sphinx_simplepdf/themes/sphinx_simplepdf/theme.conf

recursive-include sphinx_simplepdf/themes/sphinx_simplepdf/static/styles *
recursive-include sphinx_simplepdf/themes/sphinx_simplepdf/ *.html
recursive-include sphinx_simplepdf/themes/sphinx_simplepdf/static/images *
recursive-include sphinx_simplepdf/themes/sphinx_simplepdf/static/fonts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
