include AUTHORS.rst
include README.rst

include themes/sphinx_simplepdf/theme.conf

recursive-include themes/sphinx_simplepdf/static/styles *
recursive-include themes/sphinx_simplepdf/ *.html
recursive-include themes/sphinx_simplepdf/static/images *
recursive-include themes/sphinx_simplepdf/static/fonts *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
