div.body h1{
    display: none;
}

h2 {
    page-break-before: avoid !important;
    break-before:avoid !important;
}

span.anchor-before-heading {
    display: block;
    page-break-before: always;
    height: 0;
    margin: 0;
    padding: 0;
}

span.anchor-before-heading.first {
    page-break-before: avoid !important;
}
